### Projeleri Nasıl Teslim Etmelisiniz?
- İki proje için, iki ayrı kod dosyası ve iki ayrı proje dökümanı hazırlamanız gerekmektedir.
- Hazırladığınız bu dosyaları bir drive klasörüne eklemenizi ve bu klasörün linkini aşağıda linkte yer alan forma eklemeniz gerekmektedir. 
https://forms.gle/t8WXBBfmWJSA2rzG6

# Proje 1

Bu projede bir öğrenci not sistemi oluşturacaksınız. Sizden istenilenler:

- Kendinize bir ders belirleyiniz. (Matematik,Fizik, Lineer Cebir vb.)
- Not aralığınızı oluşturunuz (100-80 ⇒ A, 79-70 ⇒ B vb.)
- Öğrenci Bilgilerini (Ad, Soyad, Okul No, sınav puanı) girebileceğiniz ve bu bilgilerin tutulabileceği bir sistem oluşturunuz.
- Girilen bilgilerden yola çıkarak öğrencinin dersi geçip geçmediğini göstermesi gerekmektedir.
- Öğrenci dersi geçti ise öğrencinin bilgilerinin tutulduğu alana “Geçti” yazısı, öğrenci dersi geçemedi ise “kaldı” yazısını göstermesi gerekmektedir.
- Notları girilen öğrencilerden dersi geçenleri ve geçmeyenleri gösteren bir Dataframe oluşturunuz. 
- Oluşturulan Dataframe’i Excel tablosuna dönüştürünüz.

In [ ]:
ders_adi = "Türkçe"
notlandir = {"86 - 100": "A", "71 - 85": "B", "56 - 70": "C", "46 - 55": "D", "36 - 45": "E", "0 - 35": "F"}
ogrenci = "Pelin Yavuz"
okul_no = 1273
notlar = [70, 80, 90] # Sadece ortalama olacak
ortalama = (notlar[0] + notlar[1] + notlar[2]) / 3
if 86<= ortalama <= 100:
    not_harf = "A"
elif 71 <= ortalama < 86:
    not_harf = "B"
elif 56 <= ortalama < 71:
    not_harf = "C"
elif 46 <= ortalama < 56:
    not_harf = "D"
elif 36 <= ortalama < 46:
    not_harf = "E"
elif 0 <= ortalama < 36:
    not_harf = "F"
else:
    print("0 - 100 arasında bir sayı girilmeli")
# 
if ortalama >= 45:
    print(f"Not Ortalamanız: {ortalama} olup harf değeri: {not_harf} \nGEÇTİ")
else:
    print(f"Not Ortalamanız: {ortalama}-{not_harf} \nKALDI")

Not Ortalamanız: 80.0 olup harf değeri: B
GEÇTİ

In [2]:
def ogrenciKaydet(isim, okul_no, ortalama):
    kayit = []
    kayit.append(isim)
    kayit.append(okul_no)
    kayit.append(ortalama)
    sonuc = "Geçti"
    if ortalama < 45:
        sonuc = "Kaldı"
    kayit.append(sonuc)
    return kayit

In [18]:
def kayitAl():
    isim = input("İsim giriniz: ")
    okul_no = input("Okul No: ")
    ortalama = int(input("Ortalama : "))
    return isim, okul_no, ortalama

In [20]:
kayitlar = [["Pelin Yavuz", "1273", 80, "Geçti"], 
            ["Ferit Bal", "1125", 40, "Kaldı"], 
            ["Arif Enez", "1240", 58, "Geçti"], 
            ["Sibel Tuna", "1164", 76, "Geçti"], ]

In [21]:
import pandas as pd

while True:
    kontrol = input("Kayıt girmek için 'Enter' tuşuna basın. Çıkış için '0' girin: ")
    if kontrol == '0':
        break
    a, b, c = kayitAl()
    kayitlar.append(ogrenciKaydet(a, b, c))
data_kayit = pd.DataFrame(kayitlar, columns = ["Öğrenci", "Okul No", "Ortalama", "Sonuç"])

Kayıt girmek için 'Enter' tuşuna basın. Çıkış için '0' girin:
İsim giriniz:  Serkan Hor
Okul No:  147
Ortalama :  43
Kayıt girmek için 'Enter' tuşuna basın. Çıkış için '0' girin:
İsim giriniz:  Filiz Renk
Okul No:  258
Ortalama :  70
Kayıt girmek için 'Enter' tuşuna basın. Çıkış için '0' girin:  0

In [22]:
data_kayit

       Öğrenci Okul No  Ortalama  Sonuç
0  Pelin Yavuz    1273        80  Geçti
1    Ferit Bal    1125        40  Kaldı
2    Arif Enez    1240        58  Geçti
3   Sibel Tuna    1164        76  Geçti
4   Serkan Hor     147        43  Kaldı
5   Filiz Renk     258        70  Geçti

### Oluşturduğumuz DataFrame'i Excel tablosuna dönüştürme

In [10]:
import pandas as pd
"""df1 = pd.DataFrame([['a', 'b', '1', 1, 1.01], ['c', 'd', '2', 2, 2.02],  ['e', 'f', '30', 30, 30.03]], # Bir liste içerisinde her satır için ayrı bir liste olacak
                   index=['row 1', 'row 2', '3. satır'],
                   columns=['col 1', 'col 2', 'sutun3', 4, 5.0])"""
data_kayit.to_excel("output.xlsx")